<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="NAV-Details">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <H3><b>Face Recognition Based Attendance Management System</b></H3>
                </ul>
                <ul class="navbar-nav">
                    <div>
                        <p>User ID: {{ user_id }}</p>
                        <p>Username: {{ user_name }}</p>
                    </div>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}" class="btn btn-outline-info" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>  
                    </li>
                </ul>
            </div>
        </nav> 
    </div>

    <div>
        <h3 style="padding: 10px; text-align: center;">Claim Office Work Related Breaks</h3>
        <table class="table table-bordered table-striped" style="background-color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Date</th>
                    <th>Break Out</th>
                    <th>Break In</th>
                    <th>Break Hours</th>
                    <th>Status</th>
                    <th>Claim Reason</th>
                    <th>Claim Break</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record[0] }}</td>  <!-- User ID -->
                        <td>{{ record[1] }}</td>  <!-- User Name -->
                        <td>{{ record[2] }}</td>  <!-- Date -->
                        <td>{{ record[3] }}</td>  <!-- Start Time -->
                        <td>{{ record[4] }}</td>  <!-- End Time -->
                        <td>{{ record[5] }}</td>  <!-- Working Hours -->
                        <td>{{ record[6] }}</td>  <!-- Status -->
                        <td>
                            <input type="text" class="form-control" id="breakReason_{{ loop.index }}" placeholder="Enter reason">
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="claim('{{ record[0] }}', '{{ record[1] }}', '{{ record[2] }}', '{{ record[3] }}', '{{ record[4] }}', '{{ record[5] }}', '{{ record[6] }}', document.getElementById('breakReason_{{ loop.index }}').value)">Claim Time</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h3 style="padding: 10px; text-align: center;">Current Claims</h3>
        <table class="table table-bordered table-striped" style="background-color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>Claim ID</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Date</th>
                    <th>Break Out</th>
                    <th>Break In</th>
                    <th>Break Hours</th>
                    <th>Status</th>
                    <th>Claim Reason</th>
                    <th>Claim Status</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry[9] }}</td>
                        <td>{{ entry[0] }}</td>  <!-- User ID -->
                        <td>{{ entry[1] }}</td>  <!-- User Name -->
                        <td>{{ entry[2] }}</td>  <!-- Date -->
                        <td>{{ entry[3] }}</td>  <!-- Start Time -->
                        <td>{{ entry[4] }}</td>  <!-- End Time -->
                        <td>{{ entry[5] }}</td>  <!-- Working Hours -->
                        <td>{{ entry[6] }}</td>  <!-- Status -->
                        <td>{{ entry[7] }}</td>
                        <td>{{ entry[8] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="../static/claimScript.js"></script>

</body>
</html>